
.box{
    margin-left: 150px;
    width: 10%;
   
}

h1{
    margin-left: 400px;
    font-size: 800%;
    font-style: unset;
   
}

input{
    margin-left: 340px;
    font-size: 175%;
    
  
   
}
h4{
    margin-left: 800px;
    margin-top: 1px;
}
h5{
    margin-left: 725px;
    margin-bottom: 200px;
}
h6{
    margin-right: 300px;
}
form{
    margin-top: 75px;
    margin-right: 2000px
}
h3{
    margin-right: 2000px;
}
    
